<button {{action "runOneTest"}}>
  Render Once
</button>

<button {{action "clear"}}>
  Clear
</button>

{{#each timings as |ms|}}
  <div>Render took {{ms}}ms</div>
{{/each}}

{{#if showList}}
  {{complex-items listItems=listItems}}
{{/if}}
